body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  /*background-color: #ff6961;*/
  background-image: url("https://66.media.tumblr.com/297fb66179f6a53bd76caefc32dae5ae/tumblr_njqjakaON11u3ji4yo1_500.gif");
}

.app {
  text-align: center;
  width: 100%;
  height: 50vh;
}

#Question {
  width: 20%;
  height: 20%;
  color: #ffffff;
}

.timer {
  justify-content: left;
  align-content: left;
  justify-items: left;
}
